p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

body {
  font-family: "Inter", sans-serif;
  background: #fff;
}

.container {
  width: 100%;
  max-width: 1415px;
  padding-right: 15px;
  padding-left: 15px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.link {
  text-decoration: none;
}

.list {
  list-style-type: none;
}

/*!-------------------- HEADER --------------------*/

.header {
  padding: 6px 22px 6px 18px;
  background: #000;
}

.header-container {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  gap: 393px;
}

.header-navigation {
  display: flex;
  align-items: center;
  flex-grow: 1;
  justify-content: space-between;
}

.header-menu {
  display: flex;
  align-items: center;
  gap: 20px;
}

.header-menu-link {
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  color: #fff;
}

.header-form {
  position: relative;
  width: 204px;
}

.header-input {
  border: 1px solid #fff;
  background: #000;
  width: 100%;
  height: 28px;
  color: #fff;
  padding: 0 5px;
}

.btn-form {
  width: 19px;
  height: 18px;
  position: absolute;
  top: 3px;
  right: 15px;
  background: #000;
  border: none;
  cursor: pointer;
}

/*!-------------------- HERO --------------------*/

.hero {
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000 83.5%),
    url(../images/lemur-background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  max-width: 1920px;
  padding-top: 474px;
  padding-left: 361px;
  padding-right: 388px;
  padding-bottom: 36px;
  margin: 0 auto;
}

.hero-title {
  font-weight: 400;
  font-size: 64px;
  text-align: center;
  color: #fff;
  margin-bottom: 26px;
}

.hero-text {
  font-weight: 400;
  font-size: 20px;
  text-align: center;
  color: #fff;
  margin-bottom: 52px;
}

.hero-icon {
  width: 28px;
  height: 40px;
  margin: 0 auto;
}

/*!-------------------- CONTENT --------------------*/

.content {
  padding-top: 13px;
  padding-bottom: 31px;
}

.content-container {
  display: flex;
  justify-content: space-between;
}

.content-left {
  width: 605px;
}

.news-img {
  margin-bottom: 8px;
}

.news-title {
  font-weight: 400;
  font-size: 20px;
  color: #000;
  margin-bottom: 7px;
}

.news-text {
  font-weight: 300;
  font-size: 14px;
  color: #000;
  margin-bottom: 7px;
}

.text-bg-list {
  display: flex;
  gap: 37px;
}

.text-bg-item {
  position: relative;
  overflow: hidden;
}

.text-bg-item:hover .text-bg {
  transform: translateY(0);
}

.text-bg {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000 100%);
  transform: translateY(100%);
  transition: transform 300ms ease;
  padding: 0 12px 12px 12px;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.text-bg-title {
  font-weight: 400;
  font-size: 20px;
  color: #fff;
  margin-bottom: 20px;
}

.text-bg-text {
  font-weight: 300;
  font-size: 13px;
  color: #fff;
}

.avatar-profile {
  display: flex;
  justify-content: space-between;
  margin-bottom: 22px;
}

.avatar-item {
  display: flex;
  gap: 12px;
  align-items: center;
  margin-bottom: 35px;
}

.avatar-item:last-child {
  margin-bottom: 0;
}

.avatar-title {
  font-weight: 400;
  font-size: 20px;
  color: #000;
  margin-bottom: 25px;
}

.avatar-text {
  font-weight: 400;
  font-size: 13px;
  color: #000;
}

.banner-container {
  width: 368px;
  height: 533px;
  background: #000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner {
  font-weight: 400;
  font-size: 20px;
  color: #fff;
}

.news-test-item {
  display: flex;
  gap: 13px;
  margin-bottom: 35px;
}

.news-test-item:last-child {
  margin-bottom: 0;
}
.news-test-title {
  font-weight: 400;
  font-size: 20px;
  color: #000;
  margin-bottom: 20px;
}
.news-test-text {
  font-weight: 300;
  font-size: 13px;
  color: #000;
  max-width: 502px;
}

.news-test-img {
  width: 231px;
  height: 102px;
}

/*!-------------------- FOOTER --------------------*/

.footer {
  background: #000;
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  padding-top: 8px;
  padding-bottom: 7px;
}

.footer-text {
  font-weight: 300;
  font-size: 13px;
  color: #fff;
  text-align: center;
}
